form.calendar-days {

	ul {
		max-width: 45em;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-self: flex-end;
	}

	.days-title {
		li {
			display: inline-block;
			width: 5em;
			margin: 0 0.625em;
			text-align: center;
		}
	}
	input[type="submit"] {
		border: none;
		font-size: 1.2em;
		background-color: $green;
		color: $white;
		border-radius: $radius;
		float: right;
    	margin-right: 1.5em;
    	margin-bottom: 3em;
    	padding: .3em .7em;

    	&:hover {
			cursor: pointer;
    	}
	}
}