form.calendar-days {

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-self: flex-end;

		margin: 0;
		padding: 0;
		max-width: 19.3em;

		@media(min-width: $calendar-bp-one) {
			max-width: 32em;
		}
		@media(min-width: $calendar-bp-one) {
			max-width: 45em;
		}
	}

	.days-title {
		li {
			display: inline-block;
			width: 5em;
			margin: 0 0.625em;
			text-align: center;

			&:nth-of-type(6),
			&:nth-of-type(7) {
				display: none;
			}
			@media(min-width: $calendar-bp-one) {
				&:nth-of-type(6),
				&:nth-of-type(7) {
					display: inline-block;
					background-color: $border;
				}
			}
		}
	}
	input[type="submit"] {
		border: none;
		font-size: 1.2em;
		background-color: $green;
		color: $white;
		border-radius: $radius;
		float: right;
    	margin-right: 1.5em;
    	margin-bottom: 3em;
    	padding: .3em .7em;

    	&:hover {
			cursor: pointer;
    	}
	}
}