.explanation {
	section {
		display: block;
		text-align: center;

		figure {
			display: inline-block;
			padding: 0;
			margin: 1em 2em;
			min-width: 9em;
		}
		img {

		}
		figcaption {
			
		}
	}
}