.feedback {
	position: fixed;
	right: 0;
	top: 50%;
	transform: rotate(90deg) translateY(-50%);
	font-size: 120%;
	background-color: $green;
	color: $white;
	padding: .3em 1em;
	margin-right: -1em;
	border-bottom-right-radius: $big-radius;
	border-bottom-left-radius: $big-radius;

	transition: box-shadow .2s ease-out;
	box-shadow: none;

	&:hover {
		box-shadow: 0 .1em .3em $border;
	}
}