.today::before {
    content: " ";
    background-image: url("../img/current.svg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 4.4em;
    width: 5em;
    height: 3.5em;
}
