.user-detail {
	max-width: 25em;
	padding: 1em;

	h1 {
		font-size: 2em;
	}

	.logout {
		max-width: 18em;
		margin-top: 4em;

		input[type="submit"] {
			background-color: $red;
			border: 1px solid $red;
		}
	}
}