$primary-font: "Lato", "Open Sans", "Helvetica", Sans-Serif;

body {
	font-family: $primary-font;
	color: $font;
	line-height: 1.7;
}

h1 {
	@include xlarge;
	text-transform: uppercase;
}
h2 {
	@include large;
	font-weight: 300;
	text-transform: uppercase;
}
h3 {
	@include large;
	font-weight: bold;
	text-transform: uppercase;
}
h4, p {
	@include medium;
}

// Set margin default at 0
h1, h2, h3, h4, p {
	margin: 0;
}





