<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>the current years</p>
<ul>
	{{#each years}}
		<li>{{this}}</li>
	{{/each}}
</ul>
{{#if message}}
	<p>{{message}}</p>
{{/if}}

<form action="/admin" method="post">
	<label for="year"></label>
	<input name="year" type="number" required>

	<input type="submit" name="submit">
</form>
