<main class="explanation-page">
	<header>
		<h1>Explenation</h1>
	</header>
	
	<p>Select the day's you'll be working from in the office.</p>
	
	<div>
		<div class="calendar-days--item">
			<input type="checkbox" id="one" disabled>
			<label for="one">21</label>
			<span class="amount-total" style="background-color:tomato">60%</span>
			<span class="amount" style="width:60%; background-color:tomato">60%</span>
		</div>
		<p>This indicates that you're working <strong>home</strong> this day</p>
	</div>	
	<div>
		<div class="calendar-days--item">
			<input type="checkbox" id="one" checked disabled>
			<label for="one">21</label>
			<span class="amount-total" style="background-color:tomato">60%</span>
			<span class="amount" style="width:60%; background-color:tomato">60%</span>
		</div>
		<p>This indicates that you're working <strong>at the office</strong> this day</p>
	</div>
	<div>
		<div class="calendar-days--item">
			<input type="checkbox" id="one" checked disabled>
			<label for="one">21</label>
			<span class="amount-total" style="background-color:#96C550">20%</span>
			<span class="amount" style="width:20%; background-color:#96C550">20%</span>
		</div>
		<div class="calendar-days--item">
			<input type="checkbox" id="one" checked disabled>
			<label for="one">21</label>
			<span class="amount-total" style="background-color:#00AD35">50%</span>
			<span class="amount" style="width:50%; background-color:#00AD35">50%</span>
		</div>
		<div class="calendar-days--item">
			<input type="checkbox" id="one" checked disabled>
			<label for="one">21</label>
			<span class="amount-total" style="background-color:#F25336">60%</span>
			<span class="amount" style="width:60%; background-color:#F25336">60%</span>
		</div>
		<div class="calendar-days--item">
			<input type="checkbox" id="one" checked disabled>
			<label for="one">21</label>
			<span class="amount-total" style="background-color:#C90702">80%</span>
			<span class="amount" style="width:80%; background-color:#C90702">80%</span>
		</div>
		<p>The <strong>business</strong> indicator</p>
	</div>
</main>