<section class="explanation">
	<header>
		<h1>{{title}}</h1>
	</header>

	<section>
		<figure>
			<img src="/img/explanations/present.svg" alt="Work from home">
			<figcaption>Work from home</figcaption>
		</figure>

		<figure>
			<img src="/img/explanations/not-present.svg" alt="Work at the office">
			<figcaption>Work at the office</figcaption>
		</figure>

		<figure>
			<img src="/img/explanations/office-closed.svg" alt="Not a usual working day">
			<figcaption>Not a usual working day</figcaption>
		</figure>
	</section>

	<section>
		<figure>
			<img src="/img/explanations/rustig.svg" alt="Not much spaces are taken">
			<figcaption>quiet day</figcaption>
		</figure>

		<figure>
			<img src="/img/explanations/gemiddeld.svg" alt="Half of the spaces are taken">
			<figcaption>average day</figcaption>
		</figure>

		<figure>
			<img src="/img/explanations/druk.svg" alt="I'ts very busy on this day, you might want to work from home">
			<figcaption>busy day</figcaption>
		</figure>
	</section>
</section>