<main>

	{{#if message}}

		<p class="message">{{message}}</p>

	{{else}}

		<form action="/feedback" method="post" class="feedback-form">
			<legend>Feedback</legend>

			<p>
				Hello, thanks for making the afford to give me some feedback!
			</p>

			<label for="title">Title</label>
			<input type="text" id="title" name="title">

			<label for="page">About what page</label>
			<select name="page" id="page">
				<option value="general">General</option>
				<option value="calendar">Calendar</option>
				<option value="user">User</option>
				<option value="login">Login</option>
				<option value="sign-up">Sign-up</option>
				<option value="Admin">admin</option>
			</select>

			<label for="feedback">Enter your feedback</label>
			<textarea name="feedback" id="feedback" cols="30" rows="10"></textarea>

			<input type="submit" value="Send Feedback">
		</form>

	{{/if}}
</main>