<!-- get header -->

<main>
	<form action="/user/login" method="post" class="login">
		<legend>Login / Sign up</legend>

		<label for="username">Enter your username</label>
		<div>
			<input type="text" id="username" name="username" class="input-username">
			<span>@damco.com</span>
		</div>

		<input type="submit" value="Login / Sign up">
	</form>
</main>