<!-- get header -->

<main>
	<form action="" method="post" class="sign-up">
		<legend>Sign up</legend>

		<label for="username">email/username</label>
		<div>
			<input type="text" id="username" name="username" class="input-username">
			<span>@damco.com</span>
		</div>
	
		<p>Required desk</p>
		<label for="flex">flex desk</label>
		<input type="radio" id="flex" name="desk" value="flex desk">
		<label for="fixed">fixed desk</label>
		<input type="radio" id="fixed" name="desk" value="fixed desk">

		<input type="submit" value="Sign up">
	</form>
</main>