<!-- get header -->

<main>
	<form action="/user/sign-up" method="post" class="sign-up">
		<legend>Sign up</legend>

		<label for="username">email/username</label>
		<div>
			<input type="text" id="username" name="username" class="input-username" value="{{name}}">
			<span>@damco.com</span>
		</div>
		
		<input type="checkbox" id="email" name="email">
		<label for="email">Receive emails</label>
	
		<p>Required desk</p>
		<input type="radio" id="flexDesk" name="desk" value="flexDesk" checked>
		<label for="flexDesk">flex desk</label>
		<input type="radio" id="fixedDesk" name="desk" value="fixedDesk">
		<label for="fixedDesk">fixed desk</label>

		<input type="submit" value="Sign up">
	</form>
</main>